<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Diary" type="com.cndy.tt.diary.Diary"/>
		<typeAlias alias="PagingVo" type="com.cndy.tt.paging.PagingVo"/>
		<typeAlias alias="Member" type="com.cndy.tt.member.Member"/>
		<typeAlias alias="Comment" type="com.cndy.tt.comment.Comment"/>
		<typeAlias alias="BoardDTO" type="com.cndy.tt.board.BoardDTO"/>
		<typeAlias alias="MemberAuthority" type="com.cndy.tt.member.MemberAuthority"/>
		<typeAlias alias="Notice" type="com.cndy.tt.admin.Notice"/>
		<typeAlias alias="Photo" type="com.cndy.tt.file.Photo"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/cndy/tt/mybatis/Paging.xml" />
		<mapper resource="com/cndy/tt/mybatis/Diary.xml" /> 
		<mapper resource="com/cndy/tt/mybatis/Member.xml" /> 
		<mapper resource="com/cndy/tt/mybatis/Comment.xml"/>
		<mapper resource="com/cndy/tt/mybatis/Board.xml"/>
		<mapper resource="com/cndy/tt/mybatis/Authority.xml"/>
		<mapper resource="com/cndy/tt/mybatis/Notice.xml"/>
		<mapper resource="com/cndy/tt/mybatis/Photo.xml"/>
	</mappers>
</configuration>